body{
    color: whitesmoke;
}

#bank-container {
    background-color: #272727bf;
}
#bank-menu{
    background: transparent;
}
.panel-heading {
    padding: 20px;
    max-height: 90px;
}
.panel-heading i {
    color: whitesmoke;
    font-size: 50px;
}
.menu-option {
    height:100px;
    color: whitesmoke;
    background: #484848;
    padding:20px;
    font-size: 20px;
    border-radius: 12px;
}
.menu-option-container{
    padding:5px;
}
.menu-option:hover{
    background: rgba(20, 91, 148, 1);
}
.menu-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.panel-body {
    background: #484848;
    padding:10px;
}
.menu-label {
    width:100%;
    font-size: 15px;
    margin-top: 5px;
    color:whitesmoke
}
#bank-withdraw-amount, #bank-deposit-amount,#bank-transfer-person, #bank-transfer-amount {
  background: #676767;
  border-color: #6c757d;
  color: whitesmoke;
  text-align:center;
  margin-top: 5px;
}
#bank-deposit-balance {
    color: whitesmoke;
}
.buttonfontsp {
    height:auto !important;
}
#bank-accept {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#bank-exit{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#bank-exit, #bank-accept, #bank-back {
    background: #3d3d3d;
    margin-top: 5px;
}