body {
  background: transparent !important;
}
.icon-bar {
  width: 6vw; 
  height: 100vh;
  background-color: #161616;
  opacity: 1;
  z-index: 0;
  position:absolute;
  left: 0;
  top: 0;
}

.icon-bar div {
  display: block;
  height: 12vh;
  text-align: center;
  transition: all 0.5s ease; 
  color: white; 
  font-size: 36px; 
  margin:auto;
  user-select: none;
}

.icon-bar div:hover {
  background-color: rgb(59, 59, 59);
}
#eta {
  background: transparent !important;
  border: 0 !important;
  color: white;
  font-family: "Roboto";
  text-align: center;
}
.icon{
    position:relative;
    top: 2vh;
    left: 0;
    width: 8vh;
    height: 8vh;
    z-index: 1;
    user-select: none;
}

.sexicon{
    z-index: 1;
    user-select: none; 
    position: relative;
    opacity: 0.8;
    transition: opacity .3s;
    color: white;
    font-size: 100px;
}

.sexicon:hover{
    opacity: 1 !important;
}

.arrow{
    position: relative;
    width: calc(1vh + 1vw);
    height: calc(1vh + 1vw);
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: calc(1vh + 1vw);
    opacity: 0.8;
    transition: opacity .2s;
    z-index: 2;
    margin-top: 2%;
    cursor: pointer;
}

.arrow:hover{
    opacity: 1;
}

@font-face{
    font-family: "cl";
    src: url("../fonts/chaletlondon.ttf");
}

@font-face{
    font-family: "unist";
    src: url("../fonts/unisansthin.otf");
}
.menu-bg {
  width: 22vw; 
  height: 100vh;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0.7);
  z-index: 0;
  position:absolute;
  left: 6vw;
  top: 0;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  z-index: -1;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.horizAnimOn{
  animation-name: animon;
  animation-duration: 1s;
}

.horizAnimOff{
  animation-name: animoff;
  animation-duration: 1s;
}

.no-display {
	display: none;
}

@keyframes animon {
  0%   {left:-22vw;}
  100% {left:6vw;}
}

@keyframes animoff {
  0%   {left:6vw;}
  100% {left:-22vw;}
}

.title{
    position: relative;
    font-family: "unist";
    font-size: calc(1vw + 1vh);
    z-index: 1;
    text-align: center;
    width: auto;
    color: white; 
    text-shadow: 2px 2px 2px #224f74;
}

.block-event{
    pointer-events: none;
}

input[type=range]{
  position: relative;
  display: table;
  margin: 0 auto;
  margin-top: 3vh;
  width: 9vw;
  height: 1vh;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  transition: opacity .4s;
  border-radius: 4px;
  -webkit-appearance: none;
}

input[type=range]:hover{
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #1a72b9;
    cursor: pointer;
    height: 2vh;
    width: 2vh;
    border-radius: 10px;
}

input[type=range]::-moz-range-thumb{
    appearance: none;
    background: #1a72b9;
    cursor: pointer; 
    height: 18px;
    width: 18px;
    border-radius: 10px;
}

.colorpreview{
    position: relative;
    border-radius: 10px;
    background-color: #db4536;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    margin: 0 auto;
}

input[type=text]{
    text-decoration-color: white;
    color: white;
    position: relative;
    opacity: 0.6;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid rgba(4, 115, 207, 1);
    transition: opacity .3s;
    font-family: "Roboto";
    font-size: 1vw;
    width: 8vw;
    height: 3.5vh;
    box-sizing: border-box;
    background-color: rgba(230, 234, 237, 0);
    text-align: center;

}

input[type=text]:hover{
    opacity: 0.8;
}

input[type=text]:focus{
   opacity: 1;
   outline: none;
}

input[type=text]:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input[type=text]:focus::-moz-placeholder{
    color: transparent!important;
}
input[type=text]:focus:-moz-placeholder{
    color: transparent!important;
}

input[type=text]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.scrollbar{
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 8px
}

.scrollbar::-webkit-scrollbar-track {
    background: rgba(119, 145, 163, 1)
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #1a72b9;
    border-radius: 4px;
}



.option-icon{
    width: 4vw;
    height: 4vw;
    user-select: none;
}

.shake-error{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; 
    border-bottom: 3px solid rgba(230, 83, 5, 1) !important; 
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}
#firstHeadShapeImage, #secondHeadShapeImage{
    width: 9vw;
    height:9vw;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.date-picker,
.date-container {
  position: relative;
  display: inline-block;
  color: white;
  font-family: "Roboto";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date-container {
  margin-top: 0;
  padding-top: 0;
  padding: 10px;
}

.date-container .text {
  margin-left: 12px;
  margin-right: 12px;
  font-size:20px;
  display: inline;
}

.date-picker span.fa {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.date-picker span.fa[data-method="subtract"] {
  left: 0px;
}

.date-picker span.fa[data-method="add"] {
  right: 0px;
}

.fa.lefty {
  color: white;
}

.fa.righty {
  color: white;
}

@media (min-width: 768px) and (max-width: 1010px) {
  .date-picker h2 {
    font-size: 1.5em;
    font-weight: 400;
  }

  .date-picker h4 {
    font-size: 1.1em;
  }

  .date-picker span.fa {
    font-size: 3em;
  }
}

.panel.panel-default.mypanel {
  box-shadow: 0 1px 2px #888;
}
.date-picker {
  color: white;
}

.panel.mypanel .panel-header {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.option-bar{
    position: relative;
    width: 12.5vw;
    height: calc(3.6vh + 2vw);
    left: 86vw;
    top: 1vw;
    background-color: rgba(0,0,0,0.7);
    outline-color: white;
    border-radius: 10px;
}

.topmenu-but{
    top: 0;
    font-size: calc(1.8vh + 1.8vw);
    color: white;
    position: relative;
    opacity: 0.7;
    transition: opacity .4s;
    user-select: none;
}

.topmenu-but:hover{
    opacity: 1 !important;
}

.zoombar{
   position: relative;
   width: 4.2vw;
   height: 5vh;
   top: 1vh;
   margin-top: 1%;
   padding-left: 0.4vw;
   left: 90.3vw;
   border-radius: 0.6vw;
   background-color: rgba(0, 0, 0, 0.7);
}
.rotationbar {
    position: relative;
    width: 14vw;
    height: 5vh;
    top: 1vh;
    margin-top: 1%;
    padding-left: 0.4vw;
    left: 83vw;
    border-radius: 0.6vw;
    background-color: rgba(0, 0, 0, 0.7);
}
.icon-active {
  filter: invert(30%) sepia(91%) saturate(4242%) hue-rotate(195deg) brightness(102%) contrast(84%);
}