* {
	margin: 0;
	padding: 0;
	border: 0;
    outline: none;
    color: white;
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    -webkit-font-smoothing: antialiased;
}
body {
    background: transparent !important;
    overflow-x: hidden !important;
}
.no-display {
    display: none !important;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.chat-panel {
    height: 25.7vh;
    width: 41.5vw;
    top: 10px;
    left: 10px;
}
.chat_msg_container{
    width: 41.5vw;
}
.chat-container {
    height: 22vh;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    font-weight: bolder;
    transform: scaleX(-1);
}
#chat-hidden{
    height: 22vh;
}
.chat-container::-webkit-scrollbar {
    width: 4px;
    height: 8px
}

.chat-container::-webkit-scrollbar-track {
    background: #092942;
    -webkit-box-shadow: inset 0 0 4px #145b94
}

.chat-container::-webkit-scrollbar-thumb {
    background: #145b94
}

.chat-container::-webkit-scrollbar-thumb:hover {
    background: #145b94
}
p {
    margin-bottom: 0 !important;
}

.chat-input {
    height: 3vh;
    width: 41.5vw;
    color: #F2F2F2;
    line-height: 3vh;
    padding: 0px 10px;
    vertical-align: middle;
    background-color: rgba(29, 31, 31, 0.8);
    border: 1px solid #797979;
    border-radius: 3px;
    padding-right: 3.5vw;
}
#hide-button{
    color: #2e6fa3;
    border-color: white;
    font-size: 2vh;
    margin-top: 0.5vh;
    margin-left: -2.7vh;
    z-index: 2;
    transition: 0.4s all;
}
#codes-hide-button{
    color: #2e6fa3;
    border-color: white;
    font-size: 2vh;
    margin-left: -4.7vh;
    z-index: 2;
    margin-top:0.5vh;
    transition: 0.4s all;
}
.codes-list {
    text-align:center;
    background-color: rgba(29, 31, 31, 0.6);
    color: white;
    width: 41.65vw;
    font-size: 0.78vw;
    padding:0.5vw;
    border-radius:0.3vw;
    border-top-left-radius: 0;
    border-top-right-radius:0;
    margin-top: -0.5vh
}
.codes-list td{
    padding-left: 0.2vw;
    padding-right: 0.2vw;
}
#codes-container,
#codes-fd,
#codes-sd {
    display:none;
    transition: 0.4s all;
}
#codes-button {
    margin-left: 38vw !important;
}
.fa-arrow-right, .fa-arrow-left {
    color: #145b94;
    margin-top:0.5vh;
    cursor:pointer;
}
#codes-title{
    padding-left: 0.15vw;
    padding-right: 0.15vw;
}
.code {
    color: #145b94;
    font-weight:bold;
    padding-right:0.1vw;
}
.disabled, .chat-input:disabled {
    background-color: transparent;
    overflow-y: hidden;
    border: none;
}

.btn-success,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    background-color: rgba(29, 31, 31, 1);
    border: 1px solid #797979;
    color: #145b94;
    font-weight:bold;
    -webkit-text-stroke-width: 2;
    text-shadow: 2px 2px black;
    box-shadow: 0 0 0;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus,
.btn-success.focus,
.btn-success:focus
{
    box-shadow: 0 0 0;
}
.btn-success:hover {
    background-color: rgb(46, 46, 46);
    border-color: rgba(29, 31, 31, 1);
}