body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	background-color: rgba(50, 50, 50, 0.5);
	font-family: Myriad Pro, Open Sans, sans-serif;
}

.no-display {
	display: none;
}

.hidden {
	visibility: hidden;
}

.connection-background {
	position: absolute;
	width: 22vw;
	height: 300px;
	top: calc(50vh - 175px);
	left: 45vw;
	background-color: rgba(107, 187, 255, 0.95);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
	z-index: 5;
}

.connection-background > .logo {
    position: absolute;
    left: -33vw;
}

.connection-background > div {
	margin: 50px 1vw 50px 37vw;
	font-size: 17px;
	font-style: italic;
}
.hidden {
	display:none;
}
.connection-background > div > img {
	height: 100px;
}
.header-container {
	margin-top:10%;
	background-color: rgb(20, 91, 148);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.connection-form {
	padding-top: 10px;
	height: 270px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align:center
}

.connection-text {
	color: #dd3131;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.form-row {
	height: 50px;
	margin-top: 10px;
	margin: 0px 40px 20px;
	border-bottom: 1px solid rgb(20, 91, 148);
	background-repeat: no-repeat;
	background-position: center right;
}

.form-row > input {
	border: none;
	outline: none;
	box-shadow: none;
	height: 40px;
	width: calc(30vw - 110px);
	margin: 5px 0px;
	padding: 0px 25px 0px 5px;
	background-color: transparent;
}

.user-icon {
	color: rgb(20, 91, 148)
}

.password-icon {
	color: rgb(20, 91, 148)
}
.form-control-line .form-group {
	overflow: hidden;
}

.form-control-line .form-control {
	border: 0px;
	border-radius: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #d9d9d9;
}

.form-control-line .form-control:focus {
	border-bottom: 1px solid #145b94;
}
.form-material .form-group {
	overflow: hidden;
}

.form-material .form-control {
	background-color: transparent;
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
	padding: 0;
	-webkit-transition: background 0s ease-out 0s;
	-o-transition: background 0s ease-out 0s;
	transition: background 0s ease-out 0s;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#145b94), to(#145b94)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
	background-image: -webkit-linear-gradient(#145b94, #145b94), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
	background-image: -o-linear-gradient(#145b94, #145b94), -o-linear-gradient(#d9d9d9, #d9d9d9);
	background-image: linear-gradient(#145b94, #145b94), linear-gradient(#d9d9d9, #d9d9d9);
	border: 0 none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: none;
}

.form-material .form-control.focus,
.form-material .form-control:focus {
	background-size: 100% 2px, 100% 1px;
	outline: 0 none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.form-control-line .form-group {
	overflow: hidden;
}

.form-control-line .form-control {
	border: 0px;
	border-radius: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #d9d9d9;
}

.form-control-line .form-control:focus {
	border-bottom: 1px solid #145b94;
}
.form-material .form-group {
	overflow: hidden;
}

.form-material .form-control {
	background-color: transparent;
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
	padding: 0;
	-webkit-transition: background 0s ease-out 0s;
	-o-transition: background 0s ease-out 0s;
	transition: background 0s ease-out 0s;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#145b94), to(#145b94)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
	background-image: -webkit-linear-gradient(#145b94, #145b94), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
	background-image: -o-linear-gradient(#145b94, #145b94), -o-linear-gradient(#d9d9d9, #d9d9d9);
	background-image: linear-gradient(#145b94, #145b94), linear-gradient(#d9d9d9, #d9d9d9);
	border: 0 none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: none;
}

.form-material .form-control.focus,
.form-material .form-control:focus {
	background-size: 100% 2px, 100% 1px;
	outline: 0 none;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.form-control-line .form-group {
	overflow: hidden;
}

.form-control-line .form-control {
	border: 0px;
	border-radius: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #d9d9d9;
}

.form-control-line .form-control:focus {
	border-bottom: 1px solid #145b94;
}
.floating-labels .form-group {
	position: relative;
}
.form-control {
	background-image: linear-gradient(#145b94, #145b94),
	linear-gradient(#d9d9d9, #d9d9d9);
}
.form-material .form-control {
	background-color: transparent;
	background-position: center bottom, center calc(100% - 1px);
	background-repeat: no-repeat;
	background-size: 0 2px, 100% 1px;
}
.floating-labels .form-control {
	padding: 10px 10px 10px 0;
	display: block;
	border: none;
	font-family: "Poppins", sans-serif;
	border-radius: 0px;
	border-bottom: 1px solid #d9d9d9;
}

.floating-labels select.form-control>option {
	font-size: 14px;
}

.floating-labels .has-error .form-control {
	border-bottom: 1px solid #fc4b6c;
}

.floating-labels .has-warning .form-control {
	border-bottom: 1px solid #ffb22b;
}

.floating-labels .has-success .form-control {
	border-bottom: 1px solid #145b94;
}

.floating-labels .form-control:focus {
	outline: none;
	border: none;
}
.connection-button, .register-button,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
	text-align: center;
	text-transform: uppercase;
	border-color: #145b94;
	background-color: rgb(20, 91, 148);
	color: whitesmoke;
	font-weight: bold;
	border-radius: 10px;
	margin-top:20px;
}
.floating-labels .form-control:focus~label,
.floating-labels .form-control:valid~label {
	top: -20px;
	font-size: 12px;
	color: #263238;
}
.floating-labels .form-control:focus~.bar:before,
.floating-labels .form-control:focus~.bar:after {
	width: 50%;
}
.connection-button:hover, .register-button:hover {
    background-color: #1e7dc9;
}
.shake-error {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(4px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-6px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(6px, 0, 0);
	}
}
.form-material .form-control {
	text-align:center;
}