.selectblock {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	font-family: "roboto";
}

figure img {
	margin: 0 auto;
}

figcaption {
	text-align: center;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer;
}

.text-white {
	color: #FFF;
}

.text-dark-white {
	color: #EEE;
}

.height-10 {
	height: 10vh;
}

.height-90 {
	height: 90vh;
}

.background {
	width: 100vw;
	height: 100vh;
	background-color: rgba(40, 40, 40, 0.6);
}

.container {
	position: relative;
	height: 14rem;
	border: 1px solid;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 1px dashed deeppink;
}

.vehicle-scrollable {
	height: 75vh;
	margin-top: 2.5vh;
	overflow-y: auto;
}

/* Added by Composure/Psycho */

.login-heading {
	text-align: center;
}

.panel-heading img.logo {
	width: 250px;
	padding: 3px;
}

.pass-field {
	text-align: center;
	margin-top: 10%;
}

#pass {
	margin-bottom: 10%;
}

#register {
	margin-bottom: 10%;
}

.panel-body{
    background-color: rgba(129, 189, 240, 0.4);
    border-radius: 16px;
}

.panel-heading{
    background-color: rgba(20, 91, 148, 1);
    border-radius: 12px;
    height: 800px !important;
}



@font-face {
	font-family: "roboto";
	src: url(../fonts/roboto.ttf);
}

.buttonfontsp{
    font-family: "roboto";
    font-size: 20px;
    color: aliceblue;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px #224f74;
    text-rendering: optimizeLegibility;
}

.prelevasoldi{
    font-size: 80px;
    font-family: "roboto";
    color: aliceblue;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px #224f74;
    text-rendering: optimizeLegibility;
    position: relative;
    left: calc(100% -10px);
}
