body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
    color: #858585;
    background-color: transparent !important;
}

.menu-header-title {
    font-size: 23px;
    text-decoration: inherit;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px #224f74;
    text-rendering: optimizeLegibility;
    position: relative;
}
.inverted-transparent {
    background: #1b1c1d7a !important;
    padding:0;
}
.ui.vertical.tabular.menu .active.item {
    background: rgba(44, 44, 44, 0.623) !important;
    color: #1a72b9 !important;
    text-shadow: 2px 2px 2px black;
    border: 0;
}
.ui.vertical.tabular.menu {
    border-right: 1px solid #1b1c1d;
}
.ui.inverted.menu .active.item {
    background: rgba(255, 255, 255, .15);
    color: #fff !important;
}
.ui.inverted.tabular.menu .item,
.ui.inverted.tabular.menu .item>a:not(.ui) {
    background: #1b1c1d;
    color: rgba(255, 255, 255, .9)
}
.ui.inverted.definition.table tfoot:not(.full-width) th:first-child,
.ui.inverted.definition.table thead:not(.full-width) th:first-child{
    background: transparent !important;
    box-shadow: 0 0 !important;
}
.menu-header {
    position: relative;
    height: 4.5vh;
    line-height: 5vh;
    font-family: "Roboto";
    color: #1a72b9;
    font-size: 1.1vmax;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #161616;
    text-shadow: 2px 2px black;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#header, .segment-title {
     color: #1a72b9;
     font-family: "Roboto";
     text-shadow: 2px 2px black;
}
.segment-title {
    text-align:center;
    margin-top: 1vh;
}

.help-container {
    position: absolute;
    height: 80vh;
    top: 5vh;
    left: 15vw;
    width: 70vw;
}
.grid {
    height:80vh;
}
.column {
    height:100%;
    overflow: auto;
}
.help-header {
    height: 50px;
    background-color: #E0E0E0;
	box-shadow: 0 4px 2px -3px rgba(100, 100, 100, 0.75);
}

.help-header > div {
    display: inline-block;
    width: 5%;
    height: 36px;
    margin-top: 7px;
}

.menu-icon {
    float: left;
    padding-left: 1%;
}

.header-text {
    float: left;
    width: 87% !important;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    color: #474747;
    font-weight: bolder;
    font-size: 19px;
    text-transform: uppercase;
}

.logout {
    text-align: right;
    margin-top: 13px !important;
}

.side-menu {
    position: fixed;
    width: 0px;
    height: calc(70vh - 50px);
    background-color: rgba(50, 50, 50, 0.5);
    padding-top: 5px;
    transition: 0.75s;
    overflow: hidden;
    color: #E6E6E6;
    font-weight: bold;
}

.side-menu > div {
    display: block;
    width: 250px;
    line-height: 30px;
}

.side-menu span {
    padding: 15px 20px;
}

.side-submenu {
    height: 0px;
    overflow: hidden;
    transition: 0.75s;
    background-color: rgba(50, 50, 50, 0.5);
}

.side-submenu > * {
    line-height: 30px;
    vertical-align: middle;
    padding-left: 30px;
}

.submenu-header {
    position: relative;
    width: 220px;
}

.submenu-header > img {
    position: absolute;
    right: -10px;
    top: 3px;
    transition-duration: 0.5s;
}

.help-content {
    padding: 10px 20%;
}

.server-logo {
    text-align: center;
    height: 140px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.server-logo img {
    max-height: 140px;
} 
.header-image{
    border-radius: 5vh;
    box-shadow: 2px 2px 7px black;
    padding:0 !important;
    height:35vh;
}
.header-welcome {
}