
body {
    padding:0;
    margin:0;
    overflow:hidden;
    background: transparent !important;
}
.container-box {
    position: absolute;
    right: -14.5vw !important;
    top:82.5vh;
    margin-bottom: 10px;
    padding:0 !important;
    z-index:1;
    color:white;
    border-radius:5px;

}
.menu-header {
    position: relative;
    height: 4.5vh;
    line-height: 5vh;
    font-family: "roboto";
    color: #1a72b9;
    font-size: 1.1vmax;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #161616;
    text-shadow: 2px 2px black;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:0 !important;
    padding-left: 5px !important;
}
.menu-header-title {
    font-size: 85%;
    text-decoration: inherit;
    text-decoration-style: solid;
    text-rendering: optimizeLegibility;
    position:relative;
    padding:0 !important;
}
.container-fluid, .logo {
    padding: 0;
    margin: 0;
    display: inline-block;
    transition: left 1.0s;
}
.logo img {
    height: 6vh
}
.logo {
    position: absolute;
    top: 2vh;
    width:100%;
    margin-bottom: 10px;
    padding:0 !important;
    z-index:1;
    color:white;
    border-radius:5px;
}
.container-line {
    display: inline-block;
}

#circle-hunger {
    background-image: url("../img/burger1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw rgb(255, 177, 41) solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-top: 5px;
    margin-left:5px;
}

#circle-health {
    background-image: url("../img/heart1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw rgb(193, 32, 32) solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left:5px;
}

#circle-armor {
    background-image: url("../img/armor1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #53bbe7 solid;
    margin-top: 5px;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-left:5px;
}
#circle-money {
    background-image: url("../img/money1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #5f9341 solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left: 5px;
}
#circle-bank {
    background-image: url("../img/bank1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #bfa3d8 solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left: 5px;
}
.progress {
    position: absolute;
    z-index: -1;
    height: 2.4vh !important;
    background-color: rgba(46, 47, 143, 0.18) !important;
    margin-top: 5px;
    margin-left: -6px;
    padding: 0 !important;
}

#progress-hunger {
    border: 1.5px rgb(255, 177, 41) solid;
}

#progress-health {
    border: 1.5px rgb(193, 32, 32) solid;
}

#progress-armor {
    border: 1.5px #53bbe7 solid;
}
#progress-money {
    border: 1.5px #008561 solid;
    color: whitesmoke;
    padding-left: 9px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-size: 1.6vh;
}
#progress-bank {
    border: 1.5px #bfa3d8 solid;
    padding-left: 9px !important;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-size: 1.6vh;
}
.field {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    transition: width 1.0s;
}

#hunger {
    float: left;
    vertical-align: center;
    background-color: rgba(255, 177, 41, 0.7);
}

#health {
    float: left;
    background-color: rgba(193, 32, 32, 0.7);
}

#armor {
    float: left;
    background-color: rgba(187, 231, 164, 0.33);
}

body {
    padding:0;
    margin:0;
}
.container-box {
    position: absolute;
    right: -16vw !important;
    top: 81vh;
    margin-bottom: 10px;
    padding:0 !important;
    z-index:1;
    color:white;
    border-radius:5px;

}

.menu-header {
    position: relative;
    height: 4.5vh;
    line-height: 5vh;
    font-family: "roboto";
    color: #1a72b9;
    font-size: 1.1vmax;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: #161616;
    text-shadow: 2px 2px black;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:0 !important;
    padding-left: 5px !important;
}
.menu-header-title {
    font-size: 85%;
    text-decoration: inherit;
    text-decoration-style: solid;
    text-rendering: optimizeLegibility;
    position:relative;
    padding:0 !important;
}
.container-fluid {

    padding: 0;
    margin: 0;
    display: inline-block;
    transition: left 1.0s;
}

.container-line {
    display: inline-block;
}

#circle-hunger {
    background-image: url("../img/burger1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw rgb(255, 177, 41) solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    margin-top: 5px;
    margin-left:5px;
}

#circle-health {
    background-image: url("../img/heart1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw rgb(193, 32, 32) solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left:5px;
}

#circle-armor {
    background-image: url("../img/armor1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #53bbe7 solid;
    margin-top: 5px;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius:25%;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-left:5px;
}
#circle-money {
    background-image: url("../img/money1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #5f9341 solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left: 5px;
}
#circle-bank {
    background-image: url("../img/bank1.svg");
    box-shadow: inset 1px 1px 5px #000;
    border: 0.1vw #bfa3d8 solid;
    height: 2.4vh;
    background-color: #2e2e2f;
    border-radius: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-repeat: no-repeat;
    background-size: 0.9vw 0.9vw;
    background-position: center;
    margin-top: 5px;
    margin-left: 5px;
}
.progress {
    position: absolute;
    z-index: -1;
    height: 2.4vh !important;
    box-shadow: inset 1px 1px 10px #000;
    margin-top: 5px;
    margin-left: -6px;
    padding: 0 !important;
}

#progress-hunger {
    border: 1.5px rgb(255, 177, 41) solid;
}

#progress-health {
    border: 1.5px rgb(193, 32, 32) solid;
}

#progress-armor {
    border: 1.5px #53bbe7 solid;
}
#progress-money {
    border: 1.5px #008561 solid;
    padding-left: 9px !important;
}
#progress-bank {
    border: 1.5px #bfa3d8 solid;
    padding-left: 9px !important;
}
.field {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    transition: width 1.0s;
}

#hunger {
    float: left;
    vertical-align: center;
    background-color: rgba(255, 177, 41, 0.7);
}

#health {
    float: left;
    background-color: rgb(193, 32, 32, 0.7);
}

#armor {
    float: left;
    background-color: #53bbe7a4;
}
.help-panel {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-family: 'Geometria Regular';
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.help-line {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.help-line:first-child {
    margin-top: 0px;
}

.help-key {
    min-width: 20px;
    padding: 2px 4px 2px 4px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}
.help-icon {
    width: 15px;
}
#help-icon-box {
    margin-right: 0;
    padding:2px;
    padding-bottom: 3px;
}