body {
    background: url('https://i.ytimg.com/vi/d74REG039Dk/maxresdefault.jpg');
    background-size: cover;
    padding:0;
    margin:0;
}
.container-fluid {
    position: absolute;
    padding: 0;
    margin: 0;
    display: inline-block;
    right: 0vw;
    bottom: 29vw;
    transition: left 1.0s;
}

.container {
    display: inline-block;
}

#circle-hunger {
    position: absolute;
    bottom: 2.4vw;
    left: -1.1vw;
    background-image: url("../img/burger.svg") ;
    border: 0.1vw #FFB229 solid;
    height: 2.1vw;
    width: 2.1vw;
    background-color: #2e2e2f;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 1.3vw 1.3vw;
    background-position: center;
}

#circle-health {
    position: absolute;
    bottom: 4.8vw;
    left: -1.1vw;
    background-image: url("../img/heart.svg");
    border: 0.1vw rgb(193, 32, 32)  solid;
    margin-right: 8vw;
    height: 2.1vw;
    width: 2.1vw;
    background-color: #2e2e2f;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 1.3vw 1.3vw;
    background-position: center;
}

#circle-armor {
    position: absolute;
    bottom: 7.2vw;
    left: -1.1vw;
    background-image: url("../img/armor.svg");
    border: 0.1vw #E3E9ED solid;
    margin-right: 8vw;
    height: 2.1vw;
    width: 2.1vw;
    background-color: #2e2e2f;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 1.3vw 1.3vw;
    background-position: center;
}

.progress {
    position: absolute;
    z-index: -1;
    height: 0.8vw;
    width: 8.9vw;
    border-radius: 0.5vw;
    background-color: #2e2e2f;
}

#progress-hunger {
    margin-top: -3vw;
    margin-right: 3.4vw;
    border-radius: 0.5vw;
    border: 0.15vw #FFB229 solid;
    right: 0.4vw;
}

#progress-health {
    margin-left: -12.4vw;
    margin-top: -5.4vw;
    border: 0.15vw rgb(193, 32, 32)  solid;
}

#progress-armor {
    margin-left: -12.7vw;
    margin-top: -7.8vw;
    border: 0.15vw #E3E9ED solid;

}

.field {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    border-radius: 0.5vw;
    transition: width 1.0s;
}

#hunger {
    float: left;
    vertical-align: center;
    background-color: #FFB229;
}

#health {
    float: left;
    background-color: rgb(193, 32, 32);
}

#armor {
    float: left;
    background-color: #E3E9ED;
}
