body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: Myriad Pro, Open Sans, sans-serif;
}

.logout-wrapper {
	position: absolute;
	width: 14vw;
	height: 10vh;
	left: 43vw;
	top: 5vh;
	background-color: rgba(0, 0, 0, 0.75);
}

.logout-message {
	height: 4vh;
	text-align: center;
	padding: 0.5vh 0.5vw;
}

.logout-cancel {
	width: 8vw;
	height: 2vh;
	margin: 0.5vh 3vw;
	padding-top: 0.5vh;
	text-align: center;
	font-weight: bolder;
	background-color: #145b94;
}

.logout-cancel:hover {
	background-color: #1b6fb2;
}