* {
    outline: none;
    color: white;
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
	background:transparent !important;
}
.player-panel {
	display: inline-block;
	position: absolute;
	height: 50vh;
	top: 20vh;
	overflow-y: hidden;
	background-color: rgba(20, 91, 148, 0.80);
    border-radius: 8px;
}
.menu-header-title {
	font-size: 23px;
	text-decoration: inherit;
	text-decoration-style: solid;
	text-shadow: 2px 2px 2px #224f74;
	text-rendering: optimizeLegibility;
	position: relative;
}

.menu-body {
	padding:0;
	font-family: "roboto";
	height: 55vh;
	overflow-y: auto;
	background-color: #272727bf;
	font-size: 19px;
	color: whitesmoke;
}
.player-heading {
	display: inline-block;
	height: 5vh;
	width:100%
}

.heading-left {
	display: inline-block;
	vertical-align: middle;
	line-height: 3vh;
	width: 95%;
}

.heading-right {
	display: inline-block;
	width:5%;
	margin-left: -1%;
}

.heading-right img {
	margin-top: 0.5vh;
	height: 2vh;
}

.player-fields {
	height: 5px;
	font-weight: bolder;
	border-bottom: 1px rgba(255, 255, 255, 0.70) solid;
	background-color: rgba(20, 20, 20, 0.50);
}

.player-fields div {
	text-align: center;
	line-height: 4vh;
}

.player-id,
.player-ping {
	display: inline-block;
	width: 4.2vw;
}

.player-name {
	display: inline-block;
	width: 20vw;
    font-weight: bold;
}

.player-container {
	padding: 5px;
	height: 57vh;
	margin-top: 2vh;
	overflow-y: auto !important;
	margin-left: 1.2vw;
}

.player-container > div {
	height: 4vh;
	padding: 5px 0px;
}
.heading-left,
.heading-right {
	position: relative;
	height: 4.5vh;
	line-height: 5vh;
	font-family: "roboto";
	color: #1a72b9;
	font-size: 1.1vmax;
	padding-left: 2px;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: #161616;
	text-shadow: 2px 2px black;
	padding-bottom: 15px;
	font-weight: bold;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.24);
}