body {
    background: transparent !important;
    font-weight: normal !important;
}
#piemenu>svg {
    width: 100%;
    height: 100%;
}

#piemenu {
    height: 400px;
    width: 400px;
    margin: 5% auto;

}
@font-face {
    font-family: "roboto";
    src: url("../fonts/roboto.ttf");
}

@media (max-width: 400px) {
    #piemenu {
        height: 300px;
        width: 300px;
    }
}

[class|=wheelnav-piemenu-slice-basic] {
    fill: rgba(29, 31, 31, 0.6);
    stroke: none;
}

[class|=wheelnav-piemenu-slice-selected] {
    fill: rgba(29, 31, 31, 0.6);
    stroke: none;
}

[class|=wheelnav-piemenu-slice-hover] {
    fill: rgba(29, 31, 31, 0.6);
    stroke: none;
    fill-opacity: 0.77;
    cursor: pointer;
}

[class|=wheelnav-piemenu-title-basic] {
    fill: whitesmoke;
    stroke: none;
}

[class|=wheelnav-piemenu-title-selected] {
    fill: #145b94;
    -webkit-text-stroke-width: 2;
    text-shadow: 1px 1px black;
   font-weight: bold;
}
[class|=wheelnav-piemenu-title-hover] {
   
    -webkit-text-stroke-width: 2;
    stroke: #145b94;
    stroke-width: 1;
    cursor: pointer;
}

[class|=wheelnav-piemenu-title]>tspan {
    font-size: 15px;
    font-weight: lighter;
    font-family: "roboto";
}

.wheelnav-piemenu-marker {
   
}