* {
    outline: none;
    color: white;
	text-decoration: none;
    box-sizing: border-box;
    font-family: Myriad Pro, Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.application-panel {
    position: absolute;
    width: 40vw;
    height: 50vh;
    top: 25vh;
    left: 30vw;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.75);
}

.failure {
    position: absolute;
    width: 20vw;
    height: 30vh;
    top: 35vh;
    left: 40vw;
    text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
}

.question-header {
    height: 12vh;
    padding-top: 2vh;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px white solid;
    background-color: rgba(20, 20, 20, 0.85);
}

.answers-content div {
    width: 40vw;
    height: 8.25vh;
    text-align: justify;
    vertical-align: middle;
    padding: 20px 100px 20px 20px;
}

.answers-content div:hover:not(.selected) {
    background-color: rgba(30, 30, 30, 0.25);
    background-image: url('../img/check-grey.png');
    background-repeat: no-repeat;
    background-position: calc(40vw - 72px) calc(4.125vh - 24px);
}

.selected {
    background-color: rgba(30, 30, 30, 0.6);
    background-image: url('../img/check-green.png');
    background-repeat: no-repeat;
    background-position: calc(40vw - 72px) calc(4.125vh - 24px);
}

.failure img {
    height: 12vh;
    padding-top: 2vh;
}

.mistakes {
    height: 13vh;
    padding-top: 6vh;
    font-weight: bolder;
}

.retry {
    height: 3vh;
    width: 125px;
    margin-top: 1vh;
    margin-left: calc(10vw - 62.5px);
    line-height: 3vh;
    font-weight: bolder;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #145b94;
}

.buttons {
    height: 5vh;
    width: 40vw;
    text-align: center;
    border-top: 1px white solid;
	background-color: rgba(0, 0, 0, 0.75);
}

.buttons div {
    display: inline-block;
    width: 125px;
    height: 3vh;
    margin: 1vh 10px;
    line-height: 3vh;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;
    text-transform: uppercase;
}

.hidden {
    display: none !important;
}

.accept {
    background-color: #145b94;
}

.cancel {
    background-color: #145b94;
}

.disabled-accept {
    background-color: #CDE2D0;
}

.disabled-cancel {
    background-color: #DFC1C1;
}